
#form-container {
	width: 625px;
	height: 400px;
	background-color: #b13939;
	color: white;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-weight: 100;
}
h1 {
	text-align: center;
	padding-top: 20px;
}

h1, h2 {
	
	font-size: 13px;

}
h2 {
	text-indent: 55px;
	padding-top: 10px;
}
ol{
	padding-top: -5px;
}
p, li {
	width: 505px;
	font-size: 8px;
	padding-right: 30px;
	margin-left: 25px;

}
p {
	margin-left: 57px;
}

input, textarea, select {
	border: 2px solid #dfdfdf;
	height: 30px;
	width: 245px;
	color: #f7f7f7;
	margin: 7px 15px 7px 35px;
	box-shadow: #8e4123;
	text-indent: 10px;
	font-size: 9px;
	box-shadow: 1px 2px 1px #8e4123;	

}

#Home-Phone-Number, #Location, #Social-Security-Number {
	margin-left: -13px;
}

#Social-Security-Number{
	width: 122px;
}


fieldset {
	border: none;
}

.btn {
	height: 35px;
	width: 125px;
	background-color: #881817;
	font-size: 9px;
	color: white;
	position: absolute;
	right: 70px;
	bottom: 19px;
	box-shadow: 1px 2px 1px #8e4123;	
	border: none;
}